<a href="https://colab.research.google.com/github/yjbae227/KDT_Class_Python/blob/main/0818.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Set Type
# 데이터를 저장할 수 있는 주머니라고 생각하면 되요
# 순서가 없어요! Key도 없어요!  => 중복을 배제
# literal은 어떤 걸 사용하나요? => {}
# 대신 set은 key와 value의 쌍이 아니라 그냥 값만 포함해요!
a = {1, 2, 3}
print(type(a))          # <class 'set'>
a = set()               # set class의 instance(객체)를 생성하세요
a = set([1, 2, 3, 4, 5])
print(a)
a = set ([1, 2, 3, 4, 5, 5, 4, 2, 1, 1])
print(a)

# set은 수학적으로 집합을 의미해서 집합 연산을 제공
# 합집합, 교집합, 차집합
s1 = set([1, 2, 3, 4, 5])
s2 = set([3, 4, 5, 6, 7])
print(s1 | s2)                      # union 연산
print(s1.union(s2))                 # union 연산
print(s1 - s2)                      # 차집합 연산
print(s1.difference(s2))            # 차집합 연산
print(s1 & s2)                      # 교집합 연산
print(s1.intersection(s2))          # 교집합 연산ㅣ

a = set([1,2,3,4,5])
a.add(10)
print(a)
a.remove(3)
print(a)

<class 'set'>
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{1, 2}
{3, 4, 5}
{3, 4, 5}
{1, 2, 3, 4, 5, 10}
{1, 2, 4, 5, 10}

In [ ]:
# 마지막 6번째 Built-in Type
# Bool type
# 사용하는 class는 Bool class
# 사용할 수 있는 값은 딱 2개 있어요 -> Ture, False

# 주의해야 할 점
# 빈 문자열 => '', "" -> False로 간주
# 빈 리스트 => [] -> False로 간주
# 빈 tuple =>  () -> False로 간주
# 빈 dict => {} -> False로 간주
# 숫자 0 => False로 간주 (0 이외의 다른 숫자는 True로 간주)

a = True
b = False

print(int(a))               # => 1
print(int(b))               # => 0

1
0

In [ ]:
# 날자 타입에 대해서 알아보자
# 기본 타입이 아니에요
# 날짜를 사용하려면 당연히 import를 해야 해요
from datetime import date, datetime
today = date.today()
print(today)
today = datetime.today()
print(today)

# 날짜에 대한 연산이 생각보다 쉽지 않아요.
# 날짜 연산을 쉽게 하기 위해서 모듈을 제공
from datetime import date, datetime, timedelta
today = date.today()
days = timedelta(days=-1)
print(today + days)
# timedelta는 월과 연도는 사용할 수 없어요. 일만 사용할 수 있어요!

2025-08-18
2025-08-18 02:09:55.741833
2025-08-17

In [ ]:
from dateutil.relativedelta import relativedelta
today = date.today()
days = relativedelta(months=-2)
print(today + days)

2025-06-18

In [ ]:
print('이것은 소리없는 아우성!', end=' ')
print('노스텔지어의 손수건')
a = 100
b = 200
# 100과 200을 더한 값은 300 입니다.
print(f'{a}과 {b}을 더한 값은')
print(str(a) + '과 ' + str(b) + '을 더한 값은')

이것은 소리없는 아우성! 노스텔지어의 손수건
100과 200을 더한 값은
100과 200을 더한 값은

In [ ]:
# Control Statement(제어문)
# 조건에 따른 분기문 - if

x = 5
if x > 5 :
    # block이 시작
    print('x값이 5보다 커요!')
elif x == 5 :
    print('x값은 5에요!')
else :
    print('x값은 5보다 작아요!')

x값은 5에요!

In [ ]:
fruits = ['apple', 'banana', 'cherry']
if 'apple' in fruits :
    print ('apple이 목록에 있어요!')
    print ('사과는 맛있어요!')
else :
    print('apple가 목록에 없어요!')
    print('사과를 먹고 싶어요')

apple이 목록에 있어요!
사과는 맛있어요!

In [ ]:
# 집합형 자료구조
# list, tuple, range, str, dict, set
student_score = {'홍길동':20, '신사임당':80}
if '신사임당' in student_score :
    print('신사임당이 dict안에 있어요!')

신사임당이 dict안에 있어요!

In [ ]:
# for 문
# 반복문 (반복할 횟수가 정해져 있을 때 사용)
# 일반적으로 2가지 형태로 사용
# 1. for ~ in range() => 반복횟수를 고정해서 사용할 때 10번, 100번
# 2. for ~ in list / dict => 집합형 자료구조 안에 요소의 갯수만큼 반복

In [ ]:
# 1부터 100까지 숫자의 합을 수하세요
my_sum = 0                  # 값을 누적할 변수

my_range = range(1, 101, 1) # 1부터 100까지 1씩 증가하는 값들의 모임
# 100번 반복
for tmp in my_range:
    my_sum += tmp           # my_sum = my_sum + tmp

print(f'1부터 100까지 1씩 증가하여 더한 값은 {my_sum} 입니다.')


a = [1, 2, 3, 4, 5]
for tmp in a :
    print(tmp, end = ' ')

1부터 100까지 1씩 증가하여 더한 값은 5050 입니다.
1 2 3 4 5

In [ ]:
from ast import RShift
# Comprehension 개념이 있어요!
# List Comprehension

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

score1 = [tmp * 2 for tmp in my_list if tmp % 2 == 0]
print(score1)

# 1부터 10까지 각 수의 제곱의 값을 가지고 있는 list를 생성하세요!
# 내 답안
my_range = range(1, 11, 1)
result_list = []

for tmp in my_range :
    tmp = tmp ** 2
    result_list.append(tmp)

print(result_list)

# 선생님 답안
squares = [tmp ** 2 for tmp in range(1, 11)]
print(squares)


# 리스트의 각 단어에서 'a'가 포함된 단어들만 필터링해서 새로운 리스트를 만드세요!
words = ['apple', 'banana', 'cherry', 'date']

# 내 답안
a_list = [tmp for tmp in words if 'a' in words]
print(a_list)

# 선생님 답안
filtered_words = [word for word in words if 'a' in word]
print(filtered_words)


# 1부터 10까지 숫자 중 짝수와 그 제곱값을 tuple로 만들어
# 해당 tuple을 요소로 가지는 새로운 list로 생성하기

# 내 답안
result = [tuple(tmp ** 2 for tmp in range(1, 11) if tmp % 2 == 0)]
print(result)

# 선생님 답안
my_list = [(tmp, tmp ** 2) for tmp in range(1,11) if tmp % 2 == 0]
print(my_list)

[4, 8, 12, 16]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[]
['apple', 'banana', 'date']
[(4, 16, 36, 64, 100)]
[(2, 4), (4, 16), (6, 36), (8, 64), (10, 100)]

In [ ]:
# Function(함수)

# 반복되고 자주 사용되는 코드를 일련의 코드단위로 만들어 놓은 것.
# 내장 함수와 사용자 정의 함수가 있어요.
# type()과 같은게 내장 함수에요. 주요한 내장함수는 알고 있는게 좋아요.
# 사용자 정의 함수는 우리가 직접 함수를 만들어 사용하는 걸 말해요
# 사용자 정의 함수의 이름은 특별한 형식으로 만들어요

#
# 프로그래밍 언어에서
# 이름을 짓는 방법 (예를 들어서 변수이름, 함수이름)
# 3가지 방법이 있어요
# 1. 의미가 있는 이름을 사용해야 해요
# 2. 단일 단어는 피해요
# 3. 이름 짓는 방법
#       - studentName (카멜케이스 노테이션): 첫글자 소문자, 연결된 단어는 첫글자 대문자
#       - StudentName (파스칼케이스 노테이션) : 첫글자 대문자, 연결되는 단어 첫글자 대문자
#       - student_name (스네이크케이스 노테이션) : 두 단어를 _를 이용해서 소문자로 연결 => python의 변수와 함수

In [ ]:
# 사용자 정의 함수를 만드는 방법에 대해서 알아보아요!
# 사용자 keyword는 def
def my_sum (a, b, c) :                      # a, b, c => 형식인자
    # 함수 호출했을 때 실행되는 코드 1
    # 함수 호출했을 때 실행되는 코드 2
    # ...
    # 거의 예외없이 맨 마지막에 return 구문이 있어요
    return a + b + c

result = my_sum(10, 20, 30)                 # 10, 20, 30 => 실인자
print(f'Result의 값은 : {result}')
# 기본적인 함수 사용법!

Result의 값은 : 60

In [ ]:
# 함수로 인자가 전달되는데
# 위의 코드와는 다르게 인자의 수가 가변적일 수가 있어요!

def my_sum(*args) :                     # 인자로 전달된 데이터를 tuple로 받아요
    result = 0
    for i in range(len(args)) :
        result += args[i]
    return result

print(my_sum(10))
print(my_sum(10, 20, 30, 40))
print(my_sum(10, 20))

10
100
30

In [ ]:
# 많이들 혼동(착각?) 하는 거
# 함수의 결과값(리턴값)은 무조건 하나에요
def my_sum (a, b) :
    print(a)
    print(b)
    result1 = a + b
    result2 = a * b
    return (result1, result2)               # 마치 2개의 값을 return 하는 것처럼 보여요
                                            # 하지만 tuple 1개를 리턴하는 거에요

output = my_sum(b = 10, a = 20)             # keyword parameter
print(output)

20
10
(30, 200)

In [ ]:
# Immutable Object와 Mutable Object의 사용이 달라요!
# Immutuble Object(불변 객체)
#   - Numeric, tuple, range, str, bool
# Mutable Object(가변 객체)
#   - list, dict, set

# 함수에 값을 전달했어요.
# 그런데 값을 전달 할 때 전달 하려는 값을 복사해서
# 함수에 전달하는 경우가 있어요
# 함수내부에서 내가 전달한 값을 변경해도 원래 나의 값은
# 변경되지 않아요
def modify_value(x) :
    x = x + 10
    print(f'함수 내부에서의 x값은 : {x}')

num = 5             # int class (Numeric)
modify_value(num)
print(f'함수 외부에서의 x값은 : {num}')

def modify_list(lst) :            # lst로 list가 전달 됨
    lst.append(4)
    print(f'함수 내부에서 list : {lst}')

my_list = [1, 2, 3]
modify_list(my_list)
print(f'함수 외부에서 list : {my_list}')

함수 내부에서의 x값은 : 15
함수 외부에서의 x값은 : 5
함수 내부에서 list : [1, 2, 3, 4]
함수 외부에서 list : [1, 2, 3, 4]

In [ ]:
# 사용자 정의 함수에 대해서는 기본적으로
# 여기까지 기억하시면 됩니다.


# override 가능한데?!
def fun1 (a, b, c) :
    return 3
def fun2 (a, b) :
    return 2


a = ([40, 20, 30 ])
print(a)

def sorting_tuple(a) :
    a.sort()
    print(f'sort a in function : {a}')
    return a

print(sorting_tuple(a))


a = [(3, 4, 2, 6, 1)]

def sorting_list(a) :
    a.sort()
    print(f'sort a in function : {a}')
    return a

print(sorting_list(a))

a = ([40, 20, 30, 10],)              # tuple -> 불변 W
a = [(40, 20, 30, 10)]               # list -> 가변

[40, 20, 30]
sort a in function : [20, 30, 40]
[20, 30, 40]
sort a in function : [(3, 4, 2, 6, 1)]
[(3, 4, 2, 6, 1)]

AttributeError: 'tuple' object has no attribute 'sort'

In [ ]:
# 문제 1: 리스트의 합 구하기
# 주어진 리스트의 모든 요소의 합을 구하는 함수를 작성하세요.

def sum_of_list(lst) :
    sum_lst = 0

    for tmp in lst :
        sum_lst += tmp
    return sum_lst


print(sum_of_list([1, 2, 3, 4]))        # 출력 10


###############################################################################

# 문제 2: 리스트에서 최댓값과 최솟값 구하기
# 리스트에서 최댓값과 최솟값을 구하는 함수를 작성하세요.

def max_and_min(lst) :
    lst.sort()
    return lst[0], lst[-1]

print(max_and_min([10, 20, 4, 45, 99]))

10
(4, 99)

In [ ]:

a = (1, 3, 2, 4, 5)

print(sorted(a))

[1, 2, 3, 4, 5]