<a href="https://colab.research.google.com/github/yjbae227/KDT_Class_Python/blob/main/0819_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
# 문제 1 : 리스트의 합 구하기
# 주어진 리스트의 모든 요소의 합을 구하는 함수를 작성하세요

def sum_of_list(lst) :
    result = 0;
    for tmp in lst :
        result = result + tmp
    return result

print(sum_of_list([1,2,3,4]))

10

In [27]:
# 문제2 : 리스트에서 최댓값과 최솟값 구하기
# 리스트에서 최댓값과 최솟값을 구하는 함수를 작성하세요

def max_and_min(lst) :
    # lst.sort(lst)
    # sorted(lst)
    lst = list(sorted(lst))
    return lst[-1], lst[0]

print(max_and_min([10, 20, 4, 45, 99]))

(99, 4)

In [28]:
# 문제 3: 리스트 뒤집기
# 주어진 리스트를 역으로 뒤집는 함수를 작성하세요.
# (직접 구현해 보세여, list.reverse() 사용하지 말 것)
# 구글링

def reverse_list(lst) :
    # 0, 1, 2, 3,
    # 0 3 / 1 2
    result = [lst for lst in lst[::-1]]
    return result

print(reverse_list([1, 2, 3, 4]))

[4, 3, 2, 1]

In [29]:
# 문제 4 : 리스트 중복 제거
# 리스트에서 중복된 요소를 제거하고, 중복이 제거된 리스트를 반환하는 함수를 작성하세요

def remove_duplicates(lst) :
    result = set(lst)
    return result

print(remove_duplicates([1,2,2,3,4,4,5]))

{1, 2, 3, 4, 5}

In [30]:
# 문제 5 : 리스트 요소들의 곱 구하기
# 리스트의 모든 요소의 곱을 구하는 함수를 작성하세요

def multiply_list(lst) :
    result = []
    for tmp in lst :
        if(tmp == 1) :
            result = tmp
        else :
            result = result * tmp
    return result

print(multiply_list([1,2,3,4]))

24

In [31]:
# 문제 6 : 리스트에서 짝수와 홀수 구분하기
# 주어진 리스트에서 짝수와 홀수를 구분하여 별도의 리스트에 저장한 뒤 반환하는 함수를 작성하세요

def separate_even_odd(lst) :
    result1 = [tmp for tmp in lst if tmp % 2 == 0 ]
    result2 = [tmp for tmp in lst if tmp % 2 != 0 ]

    result_tuple = (result1, result2)
    return result_tuple

print(separate_even_odd([1,2,3,4,5,6,7,8,9]))

([2, 4, 6, 8], [1, 3, 5, 7, 9])

In [32]:
# 문제 7 : 리스트 요소들의 위치 교환
# 리스트의 첫 번째 요소와 마지막 요소의 위치를 바꾸는 함수를 작성하세요

def swap_first_last(lst) :
    tmp = lst[0]
    lst[0] = lst[-1]
    lst[-1] = tmp

    return lst

print(swap_first_last([1,2,3,4,5]))

[5, 2, 3, 4, 1]

In [33]:
# 문제 8 : 리스트에서 특정 요소의 모든 인덱스 찾기
# 리스트에서 특정 요소가 나타나는 모든 인덱스를 리스트로 반환하는 함수를 작성하세요

def find_all_indices(lst, value) :
    result_index=[]
    for tmp in range(0, len(lst)) :
        if(value == lst[tmp]) :
            result_index.append(tmp)
    return result_index

print(find_all_indices([1, 2, 3, 2, 4, 2, 5], 2))

[1, 3, 5]

In [34]:
# 문제 9 : 리스트의 중간 요소 찾기
# 리스트의 중간에 있는 요소를 반환하는 함수를 작성하세요.
# 리스트의 길이가 짝수일 경우 두 개의 중간 요소를 반환하세요.

def find_middle(lst) :
    result = []
    a, b = divmod(len(lst), 2)

    if(b == 0) :
        result.append(lst[int(a-1)])
        result.append(lst[a])

    else :
        result.append(lst[a])


    return result

print(find_middle([1,2,3,4,5]))
print(find_middle([1,2,3,4]))

[3]
[2, 3]

In [35]:
from os import POSIX_FADV_DONTNEED
# 문제 10 : 중첩 리스트 펼치기(Flattening)
# 중첩된 리스트를 평평하게 만들어 단일 리스트로 반환하는 함수를 작성하세요
# 구글링

def flatten (lst) :
    result = []
    for tmp in lst :
        if type(tmp) == list :
            result += flatten(tmp)
        else :
            result += [tmp]
    return result

print(flatten([1,[2, 3], [4, [5, 6]], 7]))

[1, 2, 3, 4, 5, 6, 7]

In [36]:
# 문제 1 : 딕셔너리에서 값의 합 구하기
# 주어진 딕셔너리에서 모든 값의 합을 구하는 함수를 작성하세요.
# (딕셔너리의 값은 모두 숫자라고 가정합니다.)

def sum_of_dict_values(d) :
    return sum(d.values())

print(sum_of_dict_values({'a':100, 'b':200, 'c':300}))

600

In [37]:
# 문제 2 : 딕셔너리에서 특정 값 찾기
# 딕셔너리에서 특정 값을 가지는 첫 번째 키를 반환하는 함수를 작성하세요.
# 값이 없는 경우 None을 반환 합니다.

def find_key_by_value(d, value) :
    for d_key, d_value in d.items() :
        if value == d_value :
            return d_key


print(find_key_by_value({'a':100, 'b':200, 'c':300}, 200))
print(find_key_by_value({'a':100, 'b':200, 'c':300}, 400))

b
None

In [107]:
# 문제 3 : 키 값 뒤집기
# 주어진 딕셔너리에서 키와 값을 뒤집어 새로운 딕셔너리를 반환하는
# 함수를 작성하세요. (값은 고유하다고 가정합니다.)

def invert_dict(d) :

    result = {d_value:d_key for d_key, d_value in d.items()}
    return result

print(invert_dict({'a':1, 'b': 2, 'c': 3}))

{1: 'a', 2: 'b', 3: 'c'}

In [39]:
# 문제 4 : 두 딕셔너리 합치기
# 두 개의 딕셔너리를 합쳐서 새로운 디셔너리를 반환하는 함수를 작성하세요.
# 만약 동일한 키가 존재한다면 두 값의 합을 사용하세요.

def merge_dicts(d1, d2) :
    result = {key : value for key, value in d1.items()}
    for key in d2.keys() :
        if key not in result.keys() :
            result[key] = d2[key]
        else :
            result[key] = result[key] + d2[key]
    return result

print(merge_dicts({'a':100, 'b':200}, {'b':300, 'c':400}))

{'a': 100, 'b': 500, 'c': 400}

In [102]:
# 문제 5 : 딕셔너리 정렬하기
# 주어진 딕셔너리를 값에 따라 오름차순으로 정렬된 딕셔너리를 반환하는 함수를 작성하세요
# 구글링으로 해결

def sort_dict_by_value(d) :

    # 1. key, value 뒤집고
    # 2. list 오름차순 정렬
    # 3. 다시 key, value 뒤집기

    result_l = {value:key for key, value in d.items()}
    result_l = result_l.items()

    result = sorted(list(result_l))
    result = dict(result)
    result = {value : key for key, value in result.items()}

    # result = sorted(d.items(), key = lambda item:item[1])
    return result

print(sort_dict_by_value({'a':3, 'b':1, 'c':2}))

{'b': 1, 'c': 2, 'a': 3}

In [162]:
# 문제 6 : 중첩 딕셔너리에서 값 가져오기
# 중첩된 딕셔너리에서 특정 키의 값을 가져오는 함수를 작성하세요.
# 키가 없으면 None을 반환합니다.

def get_nested_value(d, keys):
    result = d
    for key in keys :
        if key not in result:
            return
        result = result[key]
    return result

nested_dict = {'a' : {'b' : {'c' : 100}}}
print(get_nested_value(nested_dict, ['a', 'b', 'c']))
print(get_nested_value(nested_dict, ['a', 'b', 'x']))

100
None

In [135]:
# 문제 7 : 키와 값 스왑하기
# 딕셔너리에서 키와 값을 스왑하고, 동일한 값을 가진 키들이 있을 경우
# 리스트로 묶는 함수를 작성하세요.

def swap_keys_values(d) :

    # 1. k / v를 바꾸면서 동일k 비교하기
    # 2. key값이 존재하면 value를 list로 묶기

    # 중복값이 존재한 상태로  k / v 가 스왑될 것이다
    # --> 중복 값이 삭제된 상태로 스왑
    # 원상태의 v와 reslut.key를 비교해서 리스트 처리

    # 바꿀 때 하나씩 비교를 하면서 바꿔야 하는 거지


    result = {}
    for key, value in d.items() :
        if value not in result.keys() :
            result[value] = key
        else :
            result[value] = [result[value], key]
    return result

print(swap_keys_values({'a':1, 'b':2, 'c':1}))

{1: ['a', 'c'], 2: 'b'}

In [ ]:
# 문제 8 : 딕셔너리 필터링
# 주어진 딕셔너리에서 특정 값을 가지는 키-값 쌍만 남겨 새로운 딕셔너리를
# 반환하는 함수를 작성하세요

def filter_dict_by_value(d, value) :
    result = {d_key : d_value for d_key, d_value in d.items() if value == d_value}
    return result

print(filter_dict_by_value({'a':100, 'b':200, 'c':100}, 100))

{'a': 100, 'c': 100}

In [ ]:
# 문제 9 : 두 딕셔너리의 공통 키 찾기
# 두 딕셔너리에서 공통된 key와 value를  가진 모든 키-값 쌍을 반환하는 함수를 작성하세요.

def common_keys(d1, d2) :
    result = {}
    for key, values in d1.items() :
        if key in d2.keys() and d1[key] == d2[key] :
            print(key, values)
            result[key] = values
    return result

print(common_keys({'a': 100, 'b': 200, 'c': 300}, {'b': 200, 'c': 400, 'd': 500}))

b 200
{'b': 200}

In [ ]:
# 문제 10 : 리스트의 딕셔너리로 변환
# 두 개의 리스트를 받아서 하나는 키, 다른 하나는 값으로 사용하여 딕셔너리를
# 생성하는 함수를 작성하세요.
# 리스트의 길이가 다르면 더 짧은 길이에 맞춰서 딕셔너리를 만드세요.

def lists_to_dict(keys, values) :
    result = {}
    len_min = keys if len(keys) > len(values) else values

    for tmp in range(0, len(len_min)) :
        result_key = keys[tmp]
        result_value = values[tmp]

        result[result_key] = result_value
    return result

keys = ['a', 'b', 'c']
values = [1, 2, 3]
print(lists_to_dict(keys, values))

{'a': 1, 'b': 2, 'c': 3}

In [153]:
# 문제 1 : 숫자 뒤집기
# 주어진 정수의 자리수를 반대로 뒤집는 함수를 작성하세요.
# (음수도 처리해야 합니다.)
# 구글링

def reverse_integer(n) :
    k = str(n)

    for i in range(len(k)):
        if k[0] == '-':
            r_num = '-' + k[-1:0:-1]
        else :
            r_num = k[::-1]
      return int(r_num)

print(reverse_integer(12345))
print(reverse_integer(-12345))

54321
-54321

In [ ]:
# 문제 2 : 문자열 문자 수 세기
# 주어진 문자열에서 각 문자의 발생 횟수를 세고, 이를 딕셔너리 형태로 반환하는
# 함수를 작성하세요.

def count_characters(s):
    result={}
    for tmp in range(0, len(s)) :

        if s[tmp] in result.keys() :
            result[s[tmp]] = int(result[s[tmp]]) + 1
        else :
            result[s[tmp]] = 1
    return result

print(count_characters("hello"))

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [ ]:
# 문제 3 : 튜플과 리스트 변환
# 튜플을 리스트로, 리스트를 튜플로 변환하는 함수를 작성하세요.

def convert_tuple_list(data) :

    result = tuple(data) if type(data) == list else list(data)
    return result

print(convert_tuple_list((1, 2, 3)))
print(convert_tuple_list([1, 2, 3]))

[1, 2, 3]
(1, 2, 3)

In [ ]:
# 문제 4 : 집합, 교집합, 합집합, 차집합
# 두 개의 리스트를 받아서 각각 교집합, 합집합, 차집합을 구하는 함수를 작성하세요.

def set_operations(list1, list2) :
    list1 = set(list1)
    list2 = set(list2)

    result = (list1.intersection(list2), list1.union(list2), list1.difference(list2))
    return result

print(set_operations([1, 2, 3], [3, 4, 5]))

({3}, {1, 2, 3, 4, 5}, {1, 2})

In [ ]:
# 문제 5 : 리스트 중간 요소 찾기
# 주어진 리스트의 중간 요소를 반환하는 함수를 작성하세요.
# 만약 리스트의 길이가 짝수이면, 두 개의 중간요소를 반환하세요.

def find_middle_element(lst) :
    result = []
    a, b = divmod(len(lst), 2)

    if(b == 0) :
        result.append(lst[int(a-1)])
        result.append(lst[a])

    else :
        result.append(lst[a])


    return result

print(find_middle_element([1,2,3,4,5]))
print(find_middle_element([1,2,3,4]))

[3]
[2, 3]

In [ ]:
# 문제 6 : 키-값 쌍 리스트 변환
# 딕셔너리에서 키와 값을 각각 리스트로 변환하는 함수를 작성하세요

def dict_to_lists(d):
    result_k = list(d.keys())
    result_v = list(d.values())
    result = (d.keys(), d.values())
    return result_k,result_v

print(dict_to_lists({'a': 1, 'b': 2, 'c': 3}))

(['a', 'b', 'c'], [1, 2, 3])

In [ ]:
# 문제 7 : 문자열에서 단어의 역순 출력
# 주어진 문자열에서 단어의 순서를 뒤집어 출력하는 함수를 작성하세요.

def reverse_words(s):
    first_str = ''
    last_str = ''
    space_str = 0

    for tmp in s:
        space_str += 1
        if tmp == ' ':
            first_str = s[0:space_str - 1]
            last_str = s[space_str:]

    return last_str + ' ' + first_str
print(reverse_words("Hello World"))

World Hello

In [ ]:
# 문제 8 : 중복 요소 제거
# 주어진 리스트에서 중복된 요소를 제거한 리스트를 반환하는 함수를 작성하세요.

def remove_duplicates(lst):
    result_s = set(lst)
    result = list(result_s)

    return result

print(remove_duplicates([1, 2, 2, 3, 4, 4, 5]))

[1, 2, 3, 4, 5]

In [ ]:
# 문제 9 : 모든 요소 곱하기
# 리스트 안의 모든 요소를 곱한 값을 반환하는 함수를 작성하세요

def multiply_elements(lst):
    result = 1
    for tmp in lst :
        result = result * tmp
    return result

print(multiply_elements([1, 2, 3, 4]))  # 출력: 24

24

In [ ]:
# 문제 10 : 짝수 인덱스 요소 추출
# 주어진 리스트에서 짝수 인덱스에 위치한 요소들만 추출하여
# 새로운 리스트를 반환하는 함수를 작성하세요.
def even_index_elements(lst):
    result = []
    for tmp in range(0,len(lst)) :
        if tmp % 2 == 0 :
            result.append(lst[tmp])
    return result

print(even_index_elements([10, 20, 30, 40, 50]))

[10, 30, 50]

In [23]:
# 문제 11 : 문자열을 정수로 변환
# 문자열로 표현된 숫자를 정수로 변환하는 함수를 작성하세요.
# 단, 숫자 이외의 문자가 포함된 경우에는 None을 반황하세요.

def str_to_int(s) :
    num = '1234567890'
    for tmp in range(len(s)) :
        if s[tmp] not in num :
            return
    return int(s)

print(str_to_int("12345"))  # 출력: 12345
print(str_to_int("12a45"))  # 출력: None

12345
None

In [160]:
# 문제 12 : 숫자를 문자열로 변환
# 주어진 정수를 문자열로 변환하는 함수를 작성하세요.
# 음수와 0도 처리해야 합니다.

def int_to_str(n) :
    result = str(n)
    return result

print(int_to_str(12345))
print(int_to_str(-12345))

12345
-12345

In [157]:
# 문제 13 : 리스트 합치기
# 두 개의 리스트를 하나로 합치는 함수를 작성하세요.

def concatenate_lists(lst1, lst2):
    return lst1 + lst2

print(concatenate_lists([1, 2, 3], [4, 5, 6]))

[1, 2, 3, 4, 5, 6]

In [ ]:
# 문제 14 : 문자열에서 모음 개수 세기
# 주어진 문자열에서 모음(a, e, i, o, u)의 개수를 세는 함수를 작성하세요.

def count_vowels(s):
    result = 0;
    char = ['a', 'e', 'i', 'o', 'u']
    for tmp in range(len(s)) :
        if s[tmp] in char :
            result = result + 1
    return result

print(count_vowels("hello world"))

3

In [25]:
# 문제 15 : 중첩 리스트 평탄하
# 중첩된 리스트를 평탄하하여 단일 리스트로 만드는 함수를 작성하세요.

def flatten_list(lst):
    result = []
    for tmp in lst :
        if type(tmp) == list :
            result += flatten_list(tmp)
        else :
            result += [tmp]
    return result

print(flatten_list([1, [2, 3], [4, [5, 6]], 7]))

[1, 2, 3, 4, 5, 6, 7]