<a href="https://colab.research.google.com/github/yjbae227/KDT_Class_Python/blob/main/0819_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 문제 1 : 리스트의 합 구하기
# 주어진 리스트의 모든 요소의 합을 구하는 함수를 작성하세요


def sum_of_list(lst) :
    result = 0;
    for tmp in lst :
        result = result + tmp
    return result

print(sum_of_list([1,2,3,4]))

10

In [ ]:
# 문제2 : 리스트에서 최댓값과 최솟값 구하기
# 리스트에서 최댓값과 최솟값을 구하는 함수를 작성하세요

def max_and_min(lst) :
    # lst.sort(lst)
    # sorted(lst)
    lst = list(sorted(lst))
    return lst[-1], lst[0]

print(max_and_min([10, 20, 4, 45, 99]))

(99, 4)

In [ ]:
# 문제 3: 리스트 뒤집기
# 주어진 리스트를 역으로 뒤집는 함수를 작성하세요.
# (직접 구현해 보세여, list.reverse() 사용하지 말 것)

def reverse_list(lst) :
    pass

print(reverse_list([1, 2, 3, 4]))

None

In [ ]:
# 문제 4 : 리스트 중복 제거
# 리스트에서 중복된 요소를 제거하고, 중복이 제거된 리스트를 반환하는 함수를 작성하세요

def remove_duplicates(lst) :
    result = set(lst)
    return result

print(remove_duplicates([1,2,2,3,4,4,5]))

{1, 2, 3, 4, 5}

In [ ]:
# 문제 5 : 리스트 요소들의 곱 구하기
# 리스트의 모든 요소의 곱을 구하는 함수를 작성하세요

def multiply_list(lst) :
    for tmp in lst :
        if(tmp == 1) :
            result = tmp
        else :
            result = result * tmp
    print(result)
    return result

print(multiply_list([1,2,3,4]))

24
24

In [ ]:
# 문제 6 : 리스트에서 짝수와 홀수 구분하기
# 주어진 리스트에서 짝수와 홀수를 구분하여 별도의 리스트에 저장한 뒤 반환하는 함수를 작성하세요

def separate_even_odd(lst) :
    result1 = [tmp for tmp in lst if tmp % 2 == 0 ]
    result2 = [tmp for tmp in lst if tmp % 2 != 0 ]

    result_tuple = (result1, result2)
    return result_tuple


print(separate_even_odd([1,2,3,4,5,6,7,8,9]))

([2, 4, 6, 8], [1, 3, 5, 7, 9])

In [ ]:
# 문제 7 : 리스트 요소들의 위치 교환
# 리스트의 첫 번째 요소와 마지막 요소의 위치를 바꾸는 함수를 작성하세요

def swap_first_last(lst) :
    tmp = lst[0]
    lst[0] = lst[-1]
    lst[-1] = tmp

    return lst

print(swap_first_last([1,2,3,4,5]))

[5, 2, 3, 4, 1]

In [ ]:
# 문제 8 : 리스트에서 특정 요소의 모든 인덱스 찾기
# 리스트에서 특정 요소가 나타나는 모든 인덱스를 리스트로 반환하는 함수를 작성하세요

def find_all_indices(lst, value) :
    result_index=[]
    for tmp in range(0, len(lst)) :
        if(value == lst[tmp]) :
            result_index.append(tmp)
        else :
            pass
    return result_index

print(find_all_indices([1, 2, 3, 2, 4, 2, 5], 2))

[1, 3, 5]

In [ ]:
# 문제 9 : 리스트의 중간 요소 찾기
# 리스트의 중간에 있는 요소를 반환하는 함수를 작성하세요.
# 리스트의 길이가 짝수일 경우 두 개의 중간 요소를 반환하세요.

def find_middle(lst) :
    result = []
    a, b = divmod(len(lst), 2)

    if(b == 0) :
        result.append(lst[int(a-1)])
        result.append(lst[a])

    else :
        result.append(lst[a])


    return result

print(find_middle([1,2,3,4,5]))
print(find_middle([1,2,3,4]))

[3]
[2, 3]

In [ ]:
from os import POSIX_FADV_DONTNEED
# 문제 10 : 중첩 리스트 펼치기(Flattening)
# 중첩된 리스트를 평평하게 만들어 단일 리스트로 반환하는 함수를 작성하세요

def flatten (lst) :


    return

print(flatten([1,[2, 3], [4, [5, 6]], 7]))

None

In [ ]:
# 문제 1 : 딕셔너리에서 값의 합 구하기
# 주어진 딕셔너리에서 모든 값의 합을 구하는 함수를 작성하세요.
# (딕셔너리의 값은 모두 숫자라고 가정합니다.)

def sum_of_dict_values(d) :
    return sum(d.values())

print(sum_of_dict_values({'a':100, 'b':200, 'c':300}))

600

In [ ]:
# 문제 2 : 딕셔너리에서 특정 값 찾기
# 딕셔너리에서 특정 값을 가지는 첫 번째 키를 반환하는 함수를 작성하세요.
# 값이 없는 경우 None을 반환 합니다.

def find_key_by_value(d, value) :