<a href="https://colab.research.google.com/github/yjbae227/KDT_Class_Python/blob/main/0827.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# 객체의 복사


# 얕은 복사
name1 = ['톰', '존']
name2 = name1



# name1과 name2는 주소가 같다
print(name1, id(name1))
print(name2, id(name2))
name1[0] = '수잔'
print(name1)
print(name2)


# 깊은 복사
import copy
name3 = copy.deepcopy(name1)
name1[0] = '폴'
print(name1, id(name1))
print(name2, id(name2))
print(name3, id(name3))

['톰', '존'] 140204540418176
['톰', '존'] 140204540418176
['수잔', '존']
['수잔', '존']
['폴', '존'] 140204540418176
['폴', '존'] 140204540418176
['수잔', '존'] 140205062375296

In [9]:
# 스택과 큐의 구현



# 스택 구현
print('리스트로 stack(LiF0) 처리')
sbs =[10, 20, 30]
sbs.append(40)
print(sbs)
sbs.pop();
print(sbs)
sbs.pop();
print(sbs)


# 큐 구현
print('리스트로 queue(FiFO) 처리')
sbs = [10, 20, 30]
sbs.append(40)
print(sbs)
sbs.pop(0)
print(sbs)
sbs.pop(0)
print(sbs)

리스트로 stack(LiF0) 처리
[10, 20, 30, 40]
[20, 30, 40]
[20, 30]
리스트로 queue(FiFO) 처리
[10, 20, 30, 40]
[20, 30, 40]
[30, 40]

In [15]:
# 튜플 살펴보기

t = ('a', 'b', 'c', 'd')
print(t)

print('크기는 ', len(t))
print('a 문자 값은 몇 개', t.count('a'))
print('b 문자 검색', t.index('b'))


# 튜플 자료형의 데이터를 변경하는 방법
p = (1, 2, 3)
q  = list(p)
print('q는 ', q)
q[1] = 10
p = tuple(q)
print('q는 ', q)


print(p[1:])


print('요솟값 교환하기')
t1 = (10, 20)
print('t1은 ', t1)
a, b = t1
b, a = a, b
t1 = a, b
print('t1은 ', t1)

('a', 'b', 'c', 'd')
크기는  4
a 문자 값은 몇 개 1
b 문자 검색 1
q는  [1, 2, 3]
q는  [1, 10, 3]
(10, 3)
요솟값 교환하기
t1은  (10, 20)
t1은  (20, 10)

In [18]:
# 세트 살펴보기 1



a = {1, 2, 3, 1}
print(a)
print('a의 크기는', len(a))

b = {3, 4}

print('a와 b의 합집합 ', a.union(b))
print('a와 b의 교집합 ', a.intersection(b))
print('a와 b의 차집합 ', a.difference(b))

print('합집합(a | b) : %s' %(a | b))
print('교집합(a & b) : %s' %(a & b))
print('차집합(a - b) : %s' %(a - b))

{1, 2, 3}
a의 크기는 3
a와 b의 합집합  {1, 2, 3, 4}
a와 b의 교집합  {3}
a와 b의 차집합  {1, 2}
합집합(a | b) : {1, 2, 3, 4}
교집합(a & b) : {3}
차집합(a - b) : {1, 2}